@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

* {
  font-family: 'Baloo Tamma 2', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  /* font-weight: bold; */
  color: transparent;
  background: url(../images/logo.svg) no-repeat;
  margin: 1em 0;
}

p {
  margin-left: 0;
  margin-right: 0;
}

html {
  font-size: 20px;
}

.container {
  max-width: 30em;
  margin: 0 auto;
  padding: 1em 1em;
}

.separator {
  margin-top: 2em;
  margin-bottom: 2em;
  position: relative;
}

.separator hr {
  position: absolute;
  top: 40%;
  left: 0px;
  width: 100%;
  height: 0;
  margin: 0px;
  padding: 0;
  border: none;
  border-top: 1px solid #D8D8D8;
}

.separator .label {
  text-transform: uppercase;
  color: #333;
  background-color: var(--back-color);
  display: inline-block;
  padding-right: 0.5em;
  position: relative;
  z-index: 2;
  margin: 0;
}

.team {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 3em;
}

.item {
  margin-bottom: 1.5em;
}

.item a {
  text-decoration: none;
}

.avatar {
  max-width: 3em;
  float: left;
  margin-right: 1em;
  border-radius: 100%;
}

.name {
  font-size: 1.1em;
  text-transform: uppercase;
  color: #333;
}

.description {
  color: #999;
  font-size: 0.9em;
}

.copyright {
  margin-top: 2em;
}

a.nonhightlight {
  color: #333;
}

span.icon-home {
  margin-right: 0.5em;
}
